{% extends 'base.html' %}

{%block head%}
    <title>Edit Board</title>
{%endblock head%}

{%block body%}
    <div class='container'>
        <h1>Edit Board</h1>
        <form method='post'>
            {% csrf_token %}
            {{form.as_p}}
            <button class='btn btn-default' type='submit'>Edit</button>
        </form>
    </div>
{%endblock body%}