{% extends 'base.html' %}

{% load bulletin_extras%}

{%block head%}
    <title>Home</title>
{%endblock head%}

{%block body%}
<div class='container'>
    {%if request.user|is_admin and not is_banned%}
        <a class='btn btn-success' href="{% url 'bulletin:create_board' %}">Create Board</a>
    {%endif%}
    <br/><br/>
    {{page_object}}<br/>
        {%for i in "x"|ljust:page_count%}
            {%if forloop.counter != page_number%}
                <a href="{% url 'bulletin:view_index_page' page=forloop.counter %}">{{forloop.counter}}</a>
            {%else%}
                [{{forloop.counter}}]
            {%endif%}
        {%endfor%}
    <form id="delete_board_form" action="{%url 'bulletin:delete_board'%}" method="post">
        {%csrf_token%}
    <input type="hidden" name="delete_board_id" id="delete_board_id"/>
    <table border='1' style='width:100%; border-collapse:collapse;'>
        <tr>
            <th colspan='3'><h3>Boards</h3></th>
        <tr>
        {%for board in page_object.object_list%}
            <tr>
                {%if request.user|is_admin and not is_banned%}
                    <td style='text-align:center;;width:10%'>
                        <a class='btn btn-warning' href="{%url 'bulletin:edit_board' board.id%}">Edit</a>
                    </td>
                    <td style='text-align:center;;width:10%'>
                        <button type="submit" class="btn btn-danger" onclick="change_delete_value({{board.id}})">Delete</button>
                    </td>
                {%endif%}
                <td>
                    <h4><a href="{%url 'bulletin:view_board' board.id%}">{{board.name}}</a></h4>
                    {%if board.get_recent_post%}
                        <a href="{%url 'bulletin:view_thread' board.get_recent_post.thread.id %}">{{board.get_recent_post.thread.title}}</a>
                    {%else%}
                        No post Yet..
                    {%endif%}
                    <br/>
                    Thread count: {{board.thread_set.count}}<br/>
                    Post count: {{board.post_set.count}}
                </td>
            <tr>
        {%empty%}
        <tr>
            <td colspan='3'>No boards found</td>
        </tr>
        {%endfor%}
    </table>
    </form>
</div>
{%endblock body%}

{%block scripts%}
    <script type="text/javascript">
        function change_delete_value(pk) {
            $("#delete_board_id").val(pk);
        }
    </script>
{%endblock scripts%}