{% extends 'base.html' %}

{%block head%}
    <title>Logout</title>
{%endblock head%}

{%block body%}
    <div class='container'>
        <h1>Logout</h1>
        <p>You have been logged out</p>
    </div>
{%endblock body%}