{% extends 'base.html' %}

{% load bulletin_extras %}

{%block head%}
    <title>View User Profile</title>
{%endblock head%}

{%block body%}
    <div class='container'>
        <h1>{{user_profile.user}}</h1>
        First Name: {{user_profile.user.first_name}}<br/>
        Last Name: {{user_profile.user.last_name}}<br/>
        Banned?: {{user_profile.is_banned}}<br/>
        {%if not is_self%}
            {%if request.user|is_admin or request.user|is_mod%}
                {%if not user_profile.is_banned%} 
                <a class='btn btn-danger' href="{%url 'bulletin:set_user_ban' pk=user_profile.id is_ban='true' %}">Ban User</a>
                {%else%}
                <a class='btn btn-success' href="{%url 'bulletin:set_user_ban' pk=user_profile.id is_ban='false'%}">Unban User</a>
                {%endif%}
            {%endif%}
        {%endif%}
        {{page_object}}<br/>
        {%for i in "x"|ljust:page_count%}
            {%if forloop.counter != page_number%}
                <a href="{% url 'bulletin:view_profile_page' pk=user_profile.pk page=forloop.counter %}">{{forloop.counter}}</a>
            {%else%}
                [{{forloop.counter}}]
            {%endif%}
        {%endfor%}
        <table border='1' style='width:100%; border-collapse:collapse;'>
        <tr>
            <th colspan='4'><h3>Posts</h3></th>
        <tr>
        {%for post in page_object.object_list%}
            <tr>
                <td style='width:10%'>
                    Date Posted: {{post.posted_on}}
                </td>
                <td><a href="{%url 'bulletin:view_thread' post.thread.id%}">{{post.message}}</a></td>
            </tr>
        {%endfor%}
    </table>
    </div>
{%endblock body%}