{% extends 'base.html' %}

{%block head%}
    <title>View Board</title>
{%endblock head%}

{%block body%}
    <div class='container'>
        <h1>{{board.name}}</h1>
        {%if not is_banned%}
        <a class='btn btn-warning' href="{%url 'bulletin:create_thread' board.id%}">Create Thread</a>
        {%endif%}
        <br/>
        {{page_object}}<br/>
        {%for i in "x"|ljust:page_count%}
            {%if forloop.counter != page_number%}
                <a href="{% url 'bulletin:view_board_page' pk=board.pk page=forloop.counter %}">{{forloop.counter}}</a>
            {%else%}
                [{{forloop.counter}}]
            {%endif%}
        {%endfor%}
        <table border='1' style='width:100%; border-collapse:collapse;'>
        <tr>
            <th colspan='4'><h3>Threads</h3></th>
        <tr>
        {%for thread in page_object.object_list%}
            <tr>
                {%if thread.posted_by == user and not is_banned%}
                    <td style='text-align:center;;width:10%'>
                        <a class='btn btn-warning' href="{%url 'bulletin:edit_thread' thread.id%}">Edit</a>
                    </td>
                {%else%}
                    <td tyle='text-align:center;width:10%'></td>
                {%endif%}
                <td>
                    <h4>
                        <a href="{%url 'bulletin:view_thread' thread.id%}">{{thread.title}}</a>
                        {%if thread.is_locked%}
                        [LOCKED]
                        {%endif%}
                    </h4>
                    {%if thread.get_recent_post%}
                        Last Reply: {{thread.get_recent_post.posted_on}}<br>
                        Last Poster: <a href="/bulletin/profiles/{{thread.get_recent_poster_profile_id}}">
                            {{thread.get_recent_post.posted_by}}
                        </a>
                    {%else%}
                        No Post yet...
                    {%endif%}
                </td>
            <tr>
        {%empty%}
        <tr>
            <td colspan='4'>No threads found</td>
        <tr>
        {%endfor%}
    </table>
    </div>
{%endblock body%}