{% extends 'base.html' %}

{%block head%}
    <title>View Board</title>
{%endblock head%}

{%block body%}
    <div class='container'>
        <h1>{{thread.board.name}}/{{thread.title}}</h1>
        <a href="{%url 'bulletin:view_board' thread.board.pk%}">Back to Boards...</a>
        <br/>
        {{page_object}}<br/>
        {%for i in "x"|ljust:page_count%}
            {%if forloop.counter != page_number%}
                <a href="{% url 'bulletin:view_thread_page' pk=thread.pk page=forloop.counter %}">{{forloop.counter}}</a>
            {%else%}
                [{{forloop.counter}}]
            {%endif%}
        {%endfor%}
        <table border='1' style='width:100%; border-collapse:collapse;'>
        <tr>
            <th colspan='4'><h3>Posts</h3></th>
        <tr>
        {%for post in page_object.object_list%}
            <tr>
                <td style='width:10%'>
                    From: 
                    {%if post.posted_by%}
                    <a href="{%url 'bulletin:view_profile' post.posted_by.id %}">{{post.posted_by}}</a>
                    {%endif%}
                    <br/>
                    Date Posted: {{post.posted_on}}
                </td>
                <td>{{post.message}}</td>
            </tr>
        {%endfor%}
        {%if not user.userprofile.is_banned%}
            {%if not thread.is_locked and page_number == page_count%}
            <tr>
                <td colspan=4 style='border-top:3px solid black'>
                    <form action="{%url 'bulletin:create_post' thread.pk%}" method="post">
                        {%csrf_token%}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">Reply</button>
                    </form>
                </td>
            </tr>
            {%endif%}
        {%endif%}
    </table>
    </div>
{%endblock body%}